<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">


  <div class="container">
    <div class="row">
      <div class="col">
        <h1>
          Welcome to {{ title }}!
        </h1>
        <p>
          {{ data.getMessage('aa')}}

        </p>

        <p>
          {{ counter < 100 ? 'tylko ' + counter : counter }} </p> 
        
        
          <app-playlists-view></app-playlists-view>
          
          <button (click)="hide = !hide"> Toggle {{ hide }} </button>
          
          <ng-template [appUnless]="hide" let-m="message">
          <div *appUnless="hide; let m = 'message'">
            <p> Ala ma {{ m }} </p>
          </div> 
      </ng-template>

      </div> 

    </div> 

  </div>
