<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  

  <div class="container">
    <div class="row">
      <div class="col">
          <h1>
              Welcome to {{ title }}!
            </h1>
            <p>
              {{ data.getMessage('aa')}}
          
            </p>
          
            <p>
              {{ counter < 100 ? 'tylko ' + counter : counter }}
          
            </p>
        <app-playlists-view></app-playlists-view>
      </div>
    </div>
  </div>


  

</div>
