<p>
  playlist-details works!
</p>


<ng-container [ngSwitch]="mode">
<div *ngSwitchCase="'show'">
<dl >
  <dt [title]="playlist.name" [attr.data-id]="playlist.id">Name</dt>
  <dd>{{ playlist.name }}</dd>
  <dt>Favourite</dt>
  <dd>{{ playlist.favourite ? 'Yes' : 'No' }}</dd>
  <dt>Color</dt>
  <dd [style.background-color]="playlist.color" [ngStyle]="{
    color: '#fafafa',
    'fontSize.px': 12
  }">{{ playlist.color }}</dd>
  
  <input type="button" value="Edit" class="btn btn-info" (click)="edit()">

</dl>
</div>

<form *ngSwitchCase="'edit'">
<div class="form-group"><label>Name: </label>
  <input type="text" class="form-control"  [ngModel] = "playlist.name"
  name = "name"
  #nameRef="ngModel"
  >
  {{nameRef.value}}
</div>

<div class="form-group"><label>Favourite: </label>
  <input type="checkbox" [ngModel]="playlist.favourite"
  name = "favourite"
  >
</div>

<div class="form-group"><label>Color: </label><input type="color" 
  name = "color"
  [ngModel]="playlist.color">
</div>

<input type="button" value="Cancel" class="btn btn-danger" (click)="cancel()">
<input type="button" value="Save" class="btn btn-success" (click)="save(nameRef)">

</form>
</ng-container>


<template id="tpl">
  <b> Ala ma kota </b>
</template>